<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <p><i>Notre engagement :</i></p>
      <div class="footer-col">
        <h4>Une équipe expérimentée en petits effectifs</h4>
      </div>
      <div class="footer-col">
        <h4>Une relation de confiance jusqu'au baccalauréat</h4>
      </div>
      <div class="footer-col">
        <h4>Des tarifs étudiés au plus juste</h4>
      </div>
    </div>

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
            Copyright © {{ site.time | date: '%Y' }}
        </ul>
      </div>

      <div class="footer-col">
        <ul class="social-media-list">
          <li><a href="http://ecolesjp.free.fr/" target="_blank">Cahier de texte</a></li>
          <li><a href="https://www.facebook.com/etablissementssaintjohnperse"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#facebook"></use></svg> <span class="username">Facebook</span></a></li>
          <li><a href="https://www.twitter.com/St_JohnPerse"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg> <span class="username">Twitter</span></a></li>
        </ul>
      </div>

      <div class="footer-col">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
